body {
    display: flex;
    align-self: center;
    justify-content: center;

    margin-top: 150px;

}

#buttonscreentablet {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    background-color: aqua;
    background: url(./6322078.jpg) no-repeat center center fixed;
    margin: 15px;
    height: 98%;
    width: 98%;
    height: 990px;
}

#buttonscreentablet button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 100px;
    min-height: 100px;
    min-width: 100px;
}

#LSPD-MDT {
    display: none;
}

#buttonscreentablet button:hover {
    background-color: none;
}

#buttonscreentablet button:hover {
    background-color: #555;
}
#buttonscreentablet img:active {
    background-color: #333;
    transform: translateY(2px);
}
#buttonscreentablet img:focus {
    outline: none;
}



#MDTMenu {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    width: 65%;
    height: 65%;
    min-height: 1000px;
    background: #3a3a3a;

    border-radius: 13px;
    border: 7px solid #555555;
    box-shadow: black 10px 10px 15px;
}

iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98%;
    width: 98%;
    height: 990px;

    margin: 15px;

    border: 2px solid #555555;
}

#playbutton {
    width: 60px;
    height: 60px;
    background-color: black;
    clip-path: polygon(25% 20%, 75% 50%, 25% 80%);
    cursor: pointer;
    margin: auto;
    margin-top: 0;
    padding: 0;
}

